---
title: "Articles"
---
<ul>
	<% sub_pages('articles').each do |article| %>
		<% if (article.url =~ /.*html$/) %>
			<li> <%= link_to article.data.title, article.url %> </li>
		<% end %>
	<% end %>
</ul>
