//$border-radius-base:        2px !default;
//$border-radius-large:       3px !default;
//$border-radius-small:       0px !default;
@import 'variables';
@import 'bootstrap';

.navbar {
	-webkit-box-shadow: 0px 1px 0px 1px #ccc;
	box-shadow: 0px 1px 1px 0px #ccc;
}

.navbar-brand {
	text-transform: uppercase;
}

footer ul {
	list-style: none;
}
