//$border-radius-base:        2px !default;
//$border-radius-large:       3px !default;
//$border-radius-small:       0px !default;
@import 'variables';
@import 'bootstrap';

/* body */
html,body {
	height: 100%;
	padding: 0;
	margin: 0;
	padding-bottom: $navbar-height + 2;
	#wrapper {
		display: flex;
		flex-direction:column;
		position: relative;
		min-height:100%;
		#content {
			width:100%;
			flex: 1;
		}
	}
}

h1 {
	text-transform: capitalize;
}

$box-shadow-color:	#ccc;
.navbar {
	-webkit-box-shadow: 0px 1px 0px 1px $box-shadow-color;
	box-shadow: 0px 1px 1px 0px $box-shadow-color;
}

.navbar-brand {
	text-transform: capitalize;
}

/* footer */
@mixin footer-element {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-left: 0px;
	font-size: 0.75em;
}

footer {
	-webkit-box-shadow: inset 0px 1px 1px 1px $box-shadow-color;
	box-shadow: inset 0px 1px 1px 1px $box-shadow-color;
	background-color: $gray-dark;
	width: 100%;
	#as-copyright {
		float: right;
		color: $text-muted;
		@include footer-element;
	}
	#as-footernav {
		list-style: none;
		li {
			display: inline;
			padding-right: 20px;
		}
		float: left;
		@include footer-element;
	}
}


.navbar {
	.nav {
		li {
			text-transform: capitalize;
		}
	}
}
