<% wrap_layout :layout do %>
<div class="row">
	<div class="col-sm-7 col-sm-push-4">
		<h2>About</h2>
		<article>
			<%= yield %>
		</article>
	</div>
	<div class="col-sm-3 col-sm-pull-7">
		<img src="/images/aner.png"
		alt="Aner's image" class="visible-lg visible-md">
		<img src="/images/aner-small.png"
		alt="Aner's image" class="visible-xs visible-sm">
	</div>
</div>
<% end %>
