<footer class="">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<ul id="as-footernav">
					<li><a href="#">Lorem</a></li>
					<li><%= github_link %></li>
				</ul>
			</div>
			<div class="col-md-6">
				<p id="as-copyright"><%= copyright_str %></p>
			</div>
		</div>
	</div>
</footer>
